# dot env file for development enviroment

# hostname used by socket io using ws://
PUBLIC_HOSTNAME=localhost:8000

# api url used to download files and call fetch
PUBLIC_API_URL=http://localhost:8000